* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body,
html {
    height: 100%;
}

.bolt-og {
    animation: fadeOut 2.5s;
}

.card {
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

ul {
    position: absolute;
    top: 5.4em;
    /* width: 60%; */
    overflow: hidden;
    margin: 0 auto;
    z-index: 1;
    border-radius: 10px;
    color: black;
}

li {
    cursor: pointer;
    padding: 0.2em;
    border: solid 0.5px black;
    border-radius: 10px;
    background-color: #E7EAEA;
    opacity: 0.7;
    margin: 2px;
}

li:hover {
    background-color: white;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-image {
    background-image: url(./asset/gif/msunny.gif);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

#logo {
    height: 100px;
    width: 80px;
}

#logo-div {
    display: flex;
    align-items: center;
}

.card {
    position: absolute;
    top: -5%;
    left: 10%;
    padding: 10px;
    width: 80%;
    height: 80vh;
    background: linear-gradient(90deg, hsla(32, 52%, 40%, 1) 0%, hsla(32, 58%, 53%, 1) 46%, hsla(29, 44%, 19%, 1) 100%);
    opacity: 0.9;
    color: #fff;
    margin: 100px auto 0;
    text-align: center;
    border-radius: 15px;
    z-index: 2;
}

.nav {
    margin-top: 2em;
    padding-right: 50px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: space-evenly; */
}

.nav input {
    border: 0;
    border-radius: 30px;
    height: 50px;
    padding: 10px 25px;
    font-size: 18px;
    background: #ebfffc;
    color: #555;
    width: max(80%, 225px);
}

.nav .tl-sec {
    display: flex;
    gap: 2em;
    margin-left: 2em;
}

.nav .tr-sec {
    display: flex;
    gap: 3em;
}

.sunrise-set,
.low-high {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.curr-temp {
    padding: 10px;
}

.curr-temp h1,
h2 {
    font-size: 35px;
    padding: 5px;
}

.time-wrap {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
}



.temp-details img {
    height: 50px;
    width: 60px;
}

.wea-type {
    height: 50px;
    width: 50px;
    margin: 0 auto;
}

.temp-details {
    display: flex;
    /* padding: 15px; */
    margin: 0 auto;
    justify-content: space-around;
}

.temp-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#rainfall {
    margin-left: 50px;
}

.image-wrapper {
    margin-bottom: 5px;
    /* Adjust as needed for spacing between the image and text */
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    /* Adjust as needed for spacing between image and text */
}

.text-wrapper span {
    margin-right: 10px;
    /* Adjust as needed for spacing between the spans */
}

.seven-day-forcast::-webkit-scrollbar {
    display: none;
}

.seven-day-forcast {
    margin-top: 1em;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: 0;
    justify-content: center;
}

.days-list {
    min-width: 8.0em;
}

.days-list h3 {
    padding: 10px;
}

.days-list {
    display: flex;
    flex-direction: column;
    /* padding: 25px; */
    /* margin-left: 5px; */
}

.days-list span {
    padding: 0.1rem;
}

.curr-temp {
    margin: 1.5em;
}

.seven-day-forcast {
    margin-top: 2em;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 85%;
        height: 87vh;
        top: -10%;
        left: 8%;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

    .nav .tl-sec {
        margin-left: 50px;
        margin-right: 10px;
        gap: 0;
        margin-bottom: 2em;
    }

    .nav .tr-sec .low-high {
        display: none;
    }

    #humidity {
        display: none;
    }

    .curr-temp {
        margin: 0.2em;
    }

    .seven-day-forcast {
        justify-content: start;
    }

    #logo-div {
        transform: scale(0.7);
        margin: -0.5em;
    }

    #logo {
        margin: 0.5em;
    }

    #logo-div h3 {
        display: none;
    }

    .nav {
        display: flex;
    }
}